<mat-card class="recipe-card">
  <mat-card-header>
    <img mat-card-avatar [src]="recipe.chef.chefImageUrl" [alt]="recipe.chef.name"/>
    <mat-card-title>{{recipe.title}}</mat-card-title>
    <mat-card-subtitle>Een recept van {{recipe.chef?.name}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="recipe.imageUrl" [alt]="recipe.title">
  <mat-card-content>
    <div>
        <p>
            {{ recipe.description }}
        </p>
      </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent" [routerLink]="['/recipes', recipe.id]">BEKIJK RECEPT</button>
  </mat-card-actions>
</mat-card>
