<form [formGroup]="recipeAddFormGroup" class="recipe-form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Nieuw recept toevoegen</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="recipe-card">
        <div class="recipe-form-group">
          <h4>Gerecht</h4>
          <mat-form-field class="recipe-form-field">
            <input matInput placeholder="Titel" formControlName="title">
          </mat-form-field>
          <mat-form-field class="recipe-form-field">
            <input matInput placeholder="Afbeelding" formControlName="imageUrl">
          </mat-form-field>
          <mat-form-field class="recipe-form-field">
            <textarea matInput placeholder="Omschrijving" formControlName="description"></textarea>
          </mat-form-field>
          <mat-form-field class="recipe-form-field">
            <textarea matInput placeholder="Bereiding" formControlName="prep"></textarea>
          </mat-form-field>
        </div>
        <div class="recipe-form-group" formGroupName="chef">
          <h4>Kok</h4>
          <mat-form-field class="recipe-form-field">
            <input matInput placeholder="Naam kok" formControlName="name">
          </mat-form-field>
          <mat-form-field class="recipe-form-field">
            <input matInput placeholder="Afbeelding URL kok" formControlName="chefImageUrl">
          </mat-form-field>
        </div>
        <div class="recipe-form-group" formArrayName="ingredients">
          <h4>Ingrediënten</h4>
          <div class="recipe-form-group-ingredients" *ngFor="let ingredient of ingredientForms.controls; let i=index" [formGroupName]="i">
            <mat-form-field class="recipe-form-ingredient">
              <input matInput placeholder="Ingrediënt" formControlName="ingredientName">
            </mat-form-field>
            <mat-form-field class="recipe-form-ingredient-unit">
              <input matInput placeholder="Hoeveelheid" formControlName="unit">
            </mat-form-field>
            <button class="recipe-form-ingredient-delete" mat-icon-button (click)="deleteIngredient(i)">
              <mat-icon aria-label="Ingrediënt verwijderen">delete</mat-icon>
            </button>
          </div>
          <button mat-button color="accent" (click)="addIngredient()">TOEVOEGEN</button>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="accent" (click)="onSubmit()">OPSLAAN</button>
      <button mat-button [routerLink]="['/recipes']">ANNULEREN</button>
    </mat-card-actions>
  </mat-card>
</form>
